<!DOCTYPE html>
<html>
<head>
	<title>Go Nature</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="/images/tent.png" />
	<link rel="stylesheet" href="/app.css">
</head>
<body>
<div id="camp-container"> 
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <form class="form-inline my-2 my-lg-0 ml-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 ml-0" type="submit">Search</button>
        </form>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-2" type="submit">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-2" type="submit">SignUp</button>
        <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-2" type="submit">Logout</button>
      </div>
    </nav>
    