<% include partials/header %>
    <p>Found Campground</p>
    <p>Name: <%=campground.name %></p>
    <img src="<%=campground.image%>">
    <% if (campground.location){ %>
        <p>Location: <%=campground.location%> </p>
   <% } %>
<% include partials/footer %>